.item {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  opacity: 0.85;
}

.key {
  display: inline-flex;
  align-items: center;
}

.item > span {
  font-size: 11px;
  line-height: 1.1;
}
